{
    "openapi": "3.0.2",
    "info": {
        "title": "Unit OpenAPI specifications",
        "description": "An OpenAPI specifications for unit-sdk clients",
        "version": "0.0.4"
    },
    "servers": [
        {
            "url": "https://api.s.unit.sh"
        }
    ],
    "paths": {
        "/applications/{applicationId}": {
            "$ref": "./schemas/application_paths.json#/application"
        },
        "/applications/{applicationId}/cancel": {
            "$ref": "./schemas/application_paths.json#/cancel_application"
        },
        "/applications": {
            "$ref": "./schemas/application_paths.json#/applications"
        },
        "/application-forms": {
            "$ref": "./schemas/application_paths.json#/application_forms"
        },
        "/applications/{applicationId}/documents/{documentId}": {
            "$ref": "./schemas/application_paths.json#/upload_pdf_file"
        },
        "/applications/{applicationId}/documents/{documentId}/": {
            "$ref": "./schemas/application_paths.json#/upload_png_file"
        },
        "/applications/{applicationId}/documents/{documentId}/?": {
            "$ref": "./schemas/application_paths.json#/upload_jpg_file"
        },
        "/applications/{applicationId}/documents/{documentId}/back": {
            "$ref": "./schemas/application_paths.json#/upload_pdf_file_back"
        },
        "/applications/{applicationId}/documents/{documentId}/back/": {
            "$ref": "./schemas/application_paths.json#/upload_png_file_back"
        },
        "/applications/{applicationId}/documents/{documentId}/back/?": {
            "$ref": "./schemas/application_paths.json#/upload_jpg_file_back"
        },
        "/applications/{applicationId}/documents": {
            "$ref": "./schemas/application_paths.json#/documents"
        },
        "/applications/{applicationId}/documents/{documentId}/verify": {
            "$ref": "./schemas/application_paths.json#/verify_document"
        },
        "/applications/{applicationId}/documents/{documentId}/download": {
            "$ref": "./schemas/application_paths.json#/download_document"
        },
        "/applications/{applicationId}/documents/{documentId}/download/back": {
            "$ref": "./schemas/application_paths.json#/download_back_side_document"
        },
        "/application-forms/{applicationFormId}": {
            "$ref": "./schemas/application_paths.json#/application_form"
        },
        "/accounts": {
            "$ref": "./schemas/account_paths.json#/accounts"
        },
        "/accounts/{accountId}": {
            "$ref": "./schemas/account_paths.json#/account"
        },
        "/accounts/{accountId}/limits": {
            "$ref": "./schemas/account_paths.json#/get_account_limits"
        },
        "/accounts/{accountId}/unfreeze": {
            "$ref": "./schemas/account_paths.json#/unfreeze_account"
        },
        "/accounts/{accountId}/freeze": {
            "$ref": "./schemas/account_paths.json#/freeze_account"
        },
        "/accounts/{accountId}/close": {
            "$ref": "./schemas/account_paths.json#/close_account"
        },
        "/accounts/{accountId}/reopen": {
            "$ref": "./schemas/account_paths.json#/reopen_account"
        },
        "/accounts/{accountId}/enter-daca": {
            "$ref": "./schemas/account_paths.json#/enter_daca"
        },
        "/accounts/{accountId}/activate-daca": {
            "$ref": "./schemas/account_paths.json#/activate_daca"
        },
        "/accounts/{accountId}/deactivate-daca": {
            "$ref": "./schemas/account_paths.json#/deactivate_daca"
        },
        "/account-end-of-day": {
            "$ref": "./schemas/account_paths.json#/get_account_end_of_day"
        },
        "/customers/{customerId}": {
            "$ref": "./schemas/customer_paths.json#/customer"
        },
        "/customers": {
            "$ref": "./schemas/customer_paths.json#/list_customers"
        },
        "/customers/{customerId}/archive": {
            "$ref": "./schemas/customer_paths.json#/archive_customer"
        },
        "/payments": {
            "$ref": "./schemas/payments_paths.json#/get_and_create_payments"
        },
        "/payments/{paymentId}": {
            "$ref": "./schemas/payments_paths.json#/get_and_patch_payment"
        },
        "/payments/{paymentId}/cancel": {
            "$ref": "./schemas/payments_paths.json#/cancel_payment"
        },
        "/received-payments": {
            "$ref": "./schemas/payments_paths.json#/list_received_payments"
        },
        "/received-payments/{paymentId}": {
            "$ref": "./schemas/payments_paths.json#/received_payments"
        },
        "/received-payments/{paymentId}/advance": {
            "$ref": "./schemas/payments_paths.json#/advance_received_payment"
        },
        "/counterparties": {
            "$ref": "./schemas/counterparty_paths.json#/counterparties"
        },
        "/counterparties/{counterpartyId}": {
            "$ref": "./schemas/counterparty_paths.json#/counterparty"
        },
        "/counterparties/{counterpartyId}/balance": {
            "$ref": "./schemas/counterparty_paths.json#/counterparty_balance"
        },
        "/recurring-payments": {
            "$ref": "./schemas/payments_paths.json#/recurring_payments"
        },
        "/recurring-payments/{paymentId}": {
            "$ref": "./schemas/payments_paths.json#/get_recurring_payment"
        },
        "/recurring-payments/{paymentId}/disable": {
            "$ref": "./schemas/payments_paths.json#/disable_recurring_payment"
        },
        "/recurring-payments/{paymentId}/enable": {
            "$ref": "./schemas/payments_paths.json#/enable_recurring_payment"
        },
        "/cards": {
            "$ref": "./schemas/card_paths.json#/cards"
        },
        "/cards/{cardId}": {
            "$ref": "./schemas/card_paths.json#/card"
        },
        "/cards/{cardId}/secure-data/pin/status": {
            "$ref": "./schemas/card_paths.json#/card_pin_status"
        },
        "/cards/{cardId}/report-stolen": {
            "$ref": "./schemas/card_paths.json#/report_stolen_card"
        },
        "/cards/{cardId}/report-lost": {
            "$ref": "./schemas/card_paths.json#/report_lost_card"
        },
        "/cards/{cardId}/close": {
            "$ref": "./schemas/card_paths.json#/close_card"
        },
        "/cards/{cardId}/freeze": {
            "$ref": "./schemas/card_paths.json#/freeze_card"
        },
        "/cards/{cardId}/unfreeze": {
            "$ref": "./schemas/card_paths.json#/unfreeze_card"
        },
        "/cards/{cardId}/limits": {
            "$ref": "./schemas/card_paths.json#/card_limits"
        },
        "/authorizations": {
            "$ref": "./schemas/authorization_paths.json#/authorizations"
        },
        "/authorizations/{authorizationId}": {
            "$ref": "./schemas/authorization_paths.json#/get_authorization"
        },
        "/authorization-requests": {
            "$ref": "./schemas/authorization_paths.json#/get_authorizations_requests"
        },
        "/authorization-requests/{authorizationId}": {
            "$ref": "./schemas/authorization_paths.json#/get_authorization_requests"
        },
        "/authorization-requests/{authorizationId}/approve": {
            "$ref": "./schemas/authorization_paths.json#/approve_authorization_requests"
        },
        "/authorization-requests/{authorizationId}/decline": {
            "$ref": "./schemas/authorization_paths.json#/decline_authorization_requests"
        },
        "/statements": {
            "$ref": "./schemas/statement_paths.json#/get_statements"
        },
        "/statements/{statementId}/html": {
            "$ref": "./schemas/statement_paths.json#/get_statement_html"
        },
        "/statements/{statementId}/pdf": {
            "$ref": "./schemas/statement_paths.json#/get_statement_pdf"
        },
        "/statements/{accountId}/bank/pdf": {
            "$ref": "./schemas/statement_paths.json#/get_statement_bank_pdf"
        },
        "/rewards": {
            "$ref": "./schemas/reward_paths.json#/rewards"
        },
        "/rewards/{rewardId}": {
            "$ref": "./schemas/reward_paths.json#/get_reward"
        },
        "/events": {
            "$ref": "./schemas/event_paths.json#/list_events"
        },
        "/events/{eventId}": {
            "$ref": "./schemas/event_paths.json#/event"
        },
        "/institutions/{routingNumber}": {
            "$ref": "./schemas/institution_paths.json#/get_institution"
        },
        "/fees": {
            "$ref": "./schemas/fee_paths.json#/create_fee"
        },
        "/fees/reverse": {
            "$ref": "./schemas/fee_paths.json#/reverse_fee"
        },
        "/check-deposits": {
            "$ref": "./schemas/check_deposit_paths.json#/check_deposits"
        },
        "/check-deposits/{checkDepositId}": {
            "$ref": "./schemas/check_deposit_paths.json#/check_deposit"
        },
        "/check-deposits/{checkDepositId}/confirm": {
            "$ref": "./schemas/check_deposit_paths.json#/confirm_check_deposit"
        },
        "/check-deposits/{checkDepositId}/front": {
            "$ref": "./schemas/check_deposit_paths.json#/get_front_check_deposit"
        },
        "/check-deposits/{checkDepositId}/back": {
            "$ref": "./schemas/check_deposit_paths.json#/get_back_check_deposit"
        },
        "/users/{userId}/api-tokens": {
            "$ref": "./schemas/token_paths.json#/api_tokens"
        },
        "/users/{userId}/api-tokens/{tokenId}": {
            "$ref": "./schemas/token_paths.json#/delete_token"
        },
        "/customers/{customerId}/token": {
            "$ref": "./schemas/token_paths.json#/create_customer_token"
        },
        "/customers/{customerId}/token/verification": {
            "$ref": "./schemas/token_paths.json#/create_customer_token_verification"
        },
        "/webhooks": {
            "$ref": "./schemas/webhook_paths.json#/webhooks"
        },
        "/webhooks/{webhookId}": {
            "$ref": "./schemas/webhook_paths.json#/webhook"
        },
        "/webhooks/{webhookId}/enable": {
            "$ref": "./schemas/webhook_paths.json#/enable_webhook"
        },
        "/webhooks/{webhookId}/disable": {
            "$ref": "./schemas/webhook_paths.json#/disable_webhook"
        },
        "/atm-locations": {
            "$ref": "./schemas/atm_location_paths.json#/list_atm_locations"
        },
        "/accounts/{accountId}/transactions/{transactionId}": {
            "$ref": "./schemas/transaction_paths.json#/transaction"
        },
        "/transactions": {
            "$ref": "./schemas/transaction_paths.json#/list_transactions"
        },
        "/disputes": {
            "$ref": "./schemas/dispute_paths.json#/list_disputes"
        },
        "/disputes/{disputeId}": {
            "$ref": "./schemas/dispute_paths.json#/get_dispute"
        },
        "/repayments": {
            "$ref": "./schemas/repayment_paths.json#/repayments"
        },
        "/repayments/{repaymentId}": {
            "$ref": "./schemas/repayment_paths.json#/repayment"
        },
        "/check-payments": {
            "$ref": "./schemas/check_payment_paths.json#/check_payments"
        },
        "/check-payments/{checkPaymentId}": {
            "$ref": "./schemas/check_payment_paths.json#/check_payment"
        },
        "/check-payments/{checkPaymentId}/approve": {
            "$ref": "./schemas/check_payment_paths.json#/check_payment_approve"
        },
        "/check-payments/{checkPaymentId}/cancel": {
            "$ref": "./schemas/check_payment_paths.json#/check_payment_cancel"
        },
        "/check-payments/{checkPaymentId}/return": {
            "$ref": "./schemas/check_payment_paths.json#/check_payment_return"
        },
        "/check-payments/{checkPaymentId}/front": {
            "$ref": "./schemas/check_payment_paths.json#/get_check_payment_front"
        },
        "/check-payments/{checkPaymentId}/back": {
            "$ref": "./schemas/check_payment_paths.json#/get_check_payment_back"
        },
        "/stop-payments": {
            "$ref": "./schemas/stop_payment_paths.json#/stop_payments"
        },
        "/stop-payments/{stop_payment_id}": {
            "$ref": "./schemas/stop_payment_paths.json#/stop_payment"
        },
        "/stop-payments/{stop_payment_id}/disable": {
            "$ref": "./schemas/stop_payment_paths.json#/disable_stop_payment"
        }
    },
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT"
            }
        }
    },
    "security": [
        {
            "bearerAuth": []
        }
    ]
}