{
    "openapi": "3.0.2",
    "info": {
        "title": "Unit OpenAPI specifications",
        "description": "An OpenAPI specifications for unit-sdk clients",
        "version": "0.0.4"
    },
    "servers": [
        {
            "url": "https://api.s.unit.sh"
        }
    ],
    "paths": {
        "/applications/{applicationId}": {
            "$ref": "./schemas/application/applicationPaths.json#/application"
        },
        "/applications/{applicationId}/cancel": {
            "$ref": "./schemas/application/applicationPaths.json#/cancelApplication"
        },
        "/applications": {
            "$ref": "./schemas/application/applicationPaths.json#/applications"
        },
        "/application-forms": {
            "$ref": "./schemas/application/applicationPaths.json#/applicationForms"
        },
        "/applications/{applicationId}/documents/{documentId}": {
            "$ref": "./schemas/application/applicationPaths.json#/uploadApplicationDocumentFile"
        },
        "/applications/{applicationId}/documents/{documentId}/back": {
            "$ref": "./schemas/application/applicationPaths.json#/uploadApplicationDocumentFileBack"
        },
        "/applications/{applicationId}/documents": {
            "$ref": "./schemas/application/applicationPaths.json#/documents"
        },
        "/applications/{applicationId}/documents/{documentId}/verify": {
            "$ref": "./schemas/application/applicationPaths.json#/verifyDocument"
        },
        "/applications/{applicationId}/documents/{documentId}/download": {
            "$ref": "./schemas/application/applicationPaths.json#/downloadDocument"
        },
        "/applications/{applicationId}/documents/{documentId}/download/back": {
            "$ref": "./schemas/application/applicationPaths.json#/downloadBackSideDocument"
        },
        "/application-forms/{applicationFormId}": {
            "$ref": "./schemas/application/applicationPaths.json#/applicationForm"
        },
        "/accounts": {
            "$ref": "./schemas/account/accountPaths.json#/accounts"
        },
        "/accounts/{accountId}": {
            "$ref": "./schemas/account/accountPaths.json#/account"
        },
        "/accounts/{accountId}/limits": {
            "$ref": "./schemas/account/accountPaths.json#/getAccountLimits"
        },
        "/accounts/{accountId}/unfreeze": {
            "$ref": "./schemas/account/accountPaths.json#/unfreezeAccount"
        },
        "/accounts/{accountId}/freeze": {
            "$ref": "./schemas/account/accountPaths.json#/freezeAccount"
        },
        "/accounts/{accountId}/close": {
            "$ref": "./schemas/account/accountPaths.json#/closeAccount"
        },
        "/accounts/{accountId}/reopen": {
            "$ref": "./schemas/account/accountPaths.json#/reopenAccount"
        },
        "/accounts/{accountId}/enter-daca": {
            "$ref": "./schemas/account/accountPaths.json#/enterDaca"
        },
        "/accounts/{accountId}/activate-daca": {
            "$ref": "./schemas/account/accountPaths.json#/activateDaca"
        },
        "/accounts/{accountId}/deactivate-daca": {
            "$ref": "./schemas/account/accountPaths.json#/deactivateDaca"
        },
        "/account-end-of-day": {
            "$ref": "./schemas/account/accountPaths.json#/getAccountEndOfDay"
        },
        "/customers/{customerId}": {
            "$ref": "./schemas/customer/customerPaths.json#/customer"
        },
        "/customers": {
            "$ref": "./schemas/customer/customerPaths.json#/listCustomers"
        },
        "/customers/{customerId}/archive": {
            "$ref": "./schemas/customer/customerPaths.json#/archiveCustomer"
        },
        "/payments": {
            "$ref": "./schemas/payment/paymentsPaths.json#/getAndCreatePayments"
        },
        "/payments/{paymentId}": {
            "$ref": "./schemas/payment/paymentsPaths.json#/getAndPatchPayment"
        },
        "/payments/{paymentId}/cancel": {
            "$ref": "./schemas/payment/paymentsPaths.json#/cancelPayment"
        },
        "/received-payments": {
            "$ref": "./schemas/payment/paymentsPaths.json#/listReceivedPayments"
        },
        "/received-payments/{paymentId}": {
            "$ref": "./schemas/payment/paymentsPaths.json#/receivedPayments"
        },
        "/received-payments/{paymentId}/advance": {
            "$ref": "./schemas/payment/paymentsPaths.json#/advanceReceivedPayment"
        },
        "/counterparties": {
            "$ref": "./schemas/counterparty/counterpartyPaths.json#/counterparties"
        },
        "/counterparties/{counterpartyId}": {
            "$ref": "./schemas/counterparty/counterpartyPaths.json#/counterparty"
        },
        "/counterparties/{counterpartyId}/balance": {
            "$ref": "./schemas/counterparty/counterpartyPaths.json#/counterpartyBalance"
        },
        "/recurring-payments": {
            "$ref": "./schemas/payment/paymentsPaths.json#/recurringPayments"
        },
        "/recurring-payments/{paymentId}": {
            "$ref": "./schemas/payment/paymentsPaths.json#/getRecurringPayment"
        },
        "/recurring-payments/{paymentId}/disable": {
            "$ref": "./schemas/payment/paymentsPaths.json#/disableRecurringPayment"
        },
        "/recurring-payments/{paymentId}/enable": {
            "$ref": "./schemas/payment/paymentsPaths.json#/enableRecurringPayment"
        },
        "/cards": {
            "$ref": "./schemas/card/cardPaths.json#/cards"
        },
        "/cards/{cardId}": {
            "$ref": "./schemas/card/cardPaths.json#/card"
        },
        "/cards/{cardId}/secure-data/pin/status": {
            "$ref": "./schemas/card/cardPaths.json#/cardPinStatus"
        },
        "/cards/{cardId}/report-stolen": {
            "$ref": "./schemas/card/cardPaths.json#/reportStolenCard"
        },
        "/cards/{cardId}/report-lost": {
            "$ref": "./schemas/card/cardPaths.json#/reportLostCard"
        },
        "/cards/{cardId}/close": {
            "$ref": "./schemas/card/cardPaths.json#/closeCard"
        },
        "/cards/{cardId}/freeze": {
            "$ref": "./schemas/card/cardPaths.json#/freezeCard"
        },
        "/cards/{cardId}/unfreeze": {
            "$ref": "./schemas/card/cardPaths.json#/unfreezeCard"
        },
        "/cards/{cardId}/limits": {
            "$ref": "./schemas/card/cardPaths.json#/cardLimits"
        },
        "/authorizations": {
            "$ref": "./schemas/authorization/authorizationPaths.json#/authorizations"
        },
        "/authorizations/{authorizationId}": {
            "$ref": "./schemas/authorization/authorizationPaths.json#/authorization"
        },
        "/authorization-requests": {
            "$ref": "./schemas/authorization/authorizationPaths.json#/authorizationsRequests"
        },
        "/authorization-requests/{authorizationId}": {
            "$ref": "./schemas/authorization/authorizationPaths.json#/authorizationRequest"
        },
        "/authorization-requests/{authorizationId}/approve": {
            "$ref": "./schemas/authorization/authorizationPaths.json#/approveAuthorizationRequests"
        },
        "/authorization-requests/{authorizationId}/decline": {
            "$ref": "./schemas/authorization/authorizationPaths.json#/declineAuthorizationRequests"
        },
        "/statements": {
            "$ref": "./schemas/statement/statementPaths.json#/getStatements"
        },
        "/statements/{statementId}/html": {
            "$ref": "./schemas/statement/statementPaths.json#/getStatementHtml"
        },
        "/statements/{statementId}/pdf": {
            "$ref": "./schemas/statement/statementPaths.json#/getStatementPdf"
        },
        "/statements/{accountId}/bank/pdf": {
            "$ref": "./schemas/statement/statementPaths.json#/getStatementBankPdf"
        },
        "/rewards": {
            "$ref": "./schemas/reward/rewardPaths.json#/rewards"
        },
        "/rewards/{rewardId}": {
            "$ref": "./schemas/reward/rewardPaths.json#/getReward"
        },
        "/events": {
            "$ref": "./schemas/event/eventPaths.json#/listEvents"
        },
        "/events/{eventId}": {
            "$ref": "./schemas/event/eventPaths.json#/event"
        },
        "/institutions/{routingNumber}": {
            "$ref": "./schemas/institution/institutionPaths.json#/getInstitution"
        },
        "/fees": {
            "$ref": "./schemas/fee/feePaths.json#/createFee"
        },
        "/check-deposits": {
            "$ref": "./schemas/check/checkDepositPaths.json#/checkDeposits"
        },
        "/check-deposits/{checkDepositId}": {
            "$ref": "./schemas/check/checkDepositPaths.json#/checkDeposit"
        },
        "/check-deposits/{checkDepositId}/confirm": {
            "$ref": "./schemas/check/checkDepositPaths.json#/confirmCheckDeposit"
        },
        "/check-deposits/{checkDepositId}/front": {
            "$ref": "./schemas/check/checkDepositPaths.json#/getFrontCheckDeposit"
        },
        "/check-deposits/{checkDepositId}/back": {
            "$ref": "./schemas/check/checkDepositPaths.json#/getBackCheckDeposit"
        },
        "/users/{userId}/api-tokens": {
            "$ref": "./schemas/token/tokenPaths.json#/apiTokens"
        },
        "/users/{userId}/api-tokens/{tokenId}": {
            "$ref": "./schemas/token/tokenPaths.json#/deleteToken"
        },
        "/customers/{customerId}/token": {
            "$ref": "./schemas/token/tokenPaths.json#/createCustomerToken"
        },
        "/customers/{customerId}/token/verification": {
            "$ref": "./schemas/token/tokenPaths.json#/createCustomerTokenVerification"
        },
        "/webhooks": {
            "$ref": "./schemas/webhook/webhookPaths.json#/webhooks"
        },
        "/webhooks/{webhookId}": {
            "$ref": "./schemas/webhook/webhookPaths.json#/webhook"
        },
        "/webhooks/{webhookId}/enable": {
            "$ref": "./schemas/webhook/webhookPaths.json#/enableWebhook"
        },
        "/webhooks/{webhookId}/disable": {
            "$ref": "./schemas/webhook/webhookPaths.json#/disableWebhook"
        },
        "/atm-locations": {
            "$ref": "./schemas/atm/atmLocationPaths.json#/listAtmLocations"
        },
        "/accounts/{accountId}/transactions/{transactionId}": {
            "$ref": "./schemas/transaction/transactionPaths.json#/transaction"
        },
        "/transactions": {
            "$ref": "./schemas/transaction/transactionPaths.json#/listTransactions"
        },
        "/disputes": {
            "$ref": "./schemas/dispute/disputePaths.json#/listDisputes"
        },
        "/disputes/{disputeId}": {
            "$ref": "./schemas/dispute/disputePaths.json#/getDispute"
        },
        "/repayments": {
            "$ref": "./schemas/repayment/repaymentPaths.json#/repayments"
        },
        "/repayments/{repaymentId}": {
            "$ref": "./schemas/repayment/repaymentPaths.json#/repayment"
        },
        "/check-payments": {
            "$ref": "./schemas/check/checkPaymentPaths.json#/checkPayments"
        },
        "/check-payments/{checkPaymentId}": {
            "$ref": "./schemas/check/checkPaymentPaths.json#/checkPayment"
        },
        "/check-payments/{checkPaymentId}/approve": {
            "$ref": "./schemas/check/checkPaymentPaths.json#/checkPaymentApprove"
        },
        "/check-payments/{checkPaymentId}/cancel": {
            "$ref": "./schemas/check/checkPaymentPaths.json#/checkPaymentCancel"
        },
        "/check-payments/{checkPaymentId}/return": {
            "$ref": "./schemas/check/checkPaymentPaths.json#/checkPaymentReturn"
        },
        "/check-payments/{checkPaymentId}/front": {
            "$ref": "./schemas/check/checkPaymentPaths.json#/getCheckPaymentFront"
        },
        "/check-payments/{checkPaymentId}/back": {
            "$ref": "./schemas/check/checkPaymentPaths.json#/getCheckPaymentBack"
        },
        "/stop-payments": {
            "$ref": "./schemas/payment/stopPaymentPaths.json#/stopPayments"
        },
        "/stop-payments/{stopPaymentId}": {
            "$ref": "./schemas/payment/stopPaymentPaths.json#/stopPayment"
        },
        "/stop-payments/{stopPaymentId}/disable": {
            "$ref": "./schemas/payment/stopPaymentPaths.json#/disableStopPayment"
        }
    },
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT"
            }
        }
    },
    "security": [
        {
            "bearerAuth": []
        }
    ]
}
