{
	"openapi":"3.0.2",
	"info":{
		"title":"Unit Python SDK",
		"description":"An API for testing openapi-python-client for unit-sdk",
		"version":"0.1.0"
	},
	"servers":[
		{
			"url":"https://api.s.unit.sh"
		}
	],
	"paths":{
		"/applications/{applicationId}":{
			"get":{
				"tags":[
					"Get Application"
				],
				"operationId":"findApplicationById",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"applicationId",
						"in":"path",
						"required":true,
						"description":"ID of the application to get"
					},
					{
						"name":"included",
						"in":"query",
						"schema":{
							"type":"string"
						}
					}
				],
				"summary":"Get Application by Id",
				"description":"Get an Application from API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/application.json"
										}
									}
								}
							}
						}
					}
				}
			},
			"patch":{
				"tags":[
					"Update Application"
				],
				"operationId":"updateApplication",
				"summary":"Update Application",
				"description":"Update an Application via API ",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"applicationId",
						"in":"path",
						"required":true,
						"description":"ID of the application to update"
					}
				],
				"requestBody":{
					"description":"Update Application Request",
					"required":"true",
					"content":{
						"application/vnd.api+json":{
							"schema":{
								"$ref":"./schemas/types.json#/definitions/updateUnitRequest"
							}
						}
					}
				},
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/application.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/applications/{applicationId}/cancel":{
			"post":{
				"tags":[
					"Cancel Application"
				],
				"operationId":" cancelApplicationById",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"applicationId",
						"in":"path",
						"required":true,
						"description":"ID of the application to get"
					}
				],
				"summary":"Cancel Application by Id",
				"description":"Cancel a Application via API ",
				"requestBody":{
					"description":"Cancel Application Request",
					"required":"true",
					"content":{
						"application/vnd.api+json":{
							"schema":{
								"type":"object",
								"properties":{
									"data":{
										"type":"object",
										"properties":{
											"type":{
												"type":"string",
												"enum":[
													"cancelApplication"
												]
											},
											"attributes":{
												"type":"object",
												"properties":{
													"reason":{
														"type":"string"
													}
												}
											}
										}
									}
								}
							}
						}
					}
				},
				"responses":{
					"201":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/application.json"
										},
										"included":{
											"type":"array",
											"items":{
												"$ref":"./schemas/document.json"
											}
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/applications":{
			"post":{
				"tags":[
					"Create Application"
				],
				"operationId":" createApplication",
				"summary":"Create Application",
				"description":"Create an Application via API ",
				"requestBody":{
					"description":"Create Application Request",
					"required":"true",
					"content":{
						"application/vnd.api+json":{
							"schema":{
								"type":"object",
								"properties":{
									"data":{
										"$ref":"schemas/createApplication.json"
									}
								}
							}
						}
					}
				},
				"responses":{
					"201":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"schemas/application.json"
										},
										"included":{
											"type":"array",
											"items":{
												"$ref":"schemas/document.json"
											}
										}
									}
								}
							}
						}
					}
				}
			},
			"get":{
				"tags":[
					"Get List Applications"
				],
				"operationId":"find list application",
				"summary":"Get List Application",
				"description":"Get List Applications from API ",
				"parameters":[
					{
						"name":"page",
						"in":"query",
						"schema":{
							"$ref":"./schemas/types.json#/definitions/listPageParametersObject"
						}
					},
					{
						"name":"filter",
						"in":"query",
						"schema":{
							"type":"object",
							"properties":{
								"query":{
									"type":"string"
								},
								"status":{
									"type":"array",
									"items":{
										"type":"string",
										"enum":[
											"Pending",
											"Approved"
										]
									}
								},
								"email":{
									"type":"string"
								},
								"tags":{
									"type":"object"
								}
							}
						}
					},
					{
						"name":"sort",
						"in":"query",
						"schema":{
							"type":"string",
							"enum":[
								"createdAt",
								"-createdAt"
							],
							"default":"-createdAt"
						}
					}
				],
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json":{
								"schema":{
									"type":"object",
									"title":"UnitResponseListApplications",
									"properties":{
										"data":{
											"type":"array",
											"items":{
												"$ref":"./schemas/application.json"
											}
										}
									},
									"meta":{
										"$ref":"types.json#/definitions/paginationMeta"
									}
								}
							}
						}
					}
				}
			}
		},
		"/application-forms":{
			"post":{
				"tags":[
					"Create ApplicationForm"
				],
				"operationId":" createApplicationForm",
				"summary":"Create Application Form",
				"description":"Create an Application Form via API ",
				"requestBody":{
					"description":"Create Application Form Request",
					"required":"true",
					"content":{
						"application/vnd.api+json":{
							"schema":{
								"type":"object",
								"properties":{
									"data":{
										"$ref":"./schemas/createApplicationForm.json"
									}
								}
							}
						}
					}
				},
				"responses":{
					"201":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/applicationForm.json"
										}
									}
								}
							}
						}
					}
				}
			},
			"get":{
				"tags":[
					"Get List Application Forms"
				],
				"operationId":"find list application forms",
				"summary":"Get List Application Forms",
				"description":"Get List Application Forms from API ",
				"parameters":[
					{
						"name":"page",
						"in":"query",
						"schema":{
							"$ref":"./schemas/types.json#/definitions/listPageParametersObject"
						}
					},
					{
						"name":"filter",
						"in":"query",
						"schema":{
							"type":"object",
							"properties":{
								"query":{
									"type":"string"
								},
								"status":{
									"type":"array",
									"items":{
										"type":"string",
										"enum":[
											"Pending",
											"Approved"
										]
									}
								},
								"email":{
									"type":"string"
								},
								"tags":{
									"type":"object"
								}
							}
						}
					},
					{
						"name":"sort",
						"in":"query",
						"schema":{
							"type":"string",
							"enum":[
								"createdAt",
								"-createdAt"
							],
							"default":"-createdAt"
						}
					}
				],
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"array",
									"items":{
										"$ref":"./schemas/applicationForm.json"
									}
								}
							}
						}
					}
				}
			}
		},
		"/application-forms/{applicationFormId}":{
			"get":{
				"tags":[
					"Get Application Form"
				],
				"operationId":"findApplicationFormById",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"applicationFormId",
						"in":"path",
						"required":true,
						"description":"ID of the application form to get"
					},
					{
						"name":"included",
						"in":"query",
						"schema":{
							"type":"string"
						}
					}
				],
				"summary":"Get ApplicationForm by Id",
				"description":"Get an Application Form from API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/applicationForm.json"
										},
										"included":{
											"$ref":"./schemas/application.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/accounts/":{
			"get":{
				"tags":[
					"Get List Accounts"
				],
				"operationId":"find list accounts",
				"summary":"Get List Accounts",
				"description":"Get List Accounts from API ",
				"parameters":[
					{
						"name":"page",
						"in":"query",
						"schema":{
							"$ref":"./schemas/types.json#/definitions/listPageParametersObject"
						}
					},
					{
						"name":"filter",
						"in":"query",
						"schema":{
							"type":"object",
							"properties":{
								"query":{
									"type":"string"
								},
								"status":{
									"type":"array",
									"items":{
										"type":"string",
										"enum":[
											"Pending",
											"Approved"
										]
									}
								},
								"email":{
									"type":"string"
								},
								"tags":{
									"type":"object"
								}
							}
						}
					}
				],
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"title":"UnitResponseAccountsList",
									"type":"object",
									"properties":{
										"data":{
											"type":"array",
											"items":{
												"$ref":"./schemas/account.json"
											}
										}
									}
								}
							}
						}
					}
				}
			},
			"post":{
				"tags":[
					"Create an Account"
				],
				"operationId":"createAccount",
				"summary":"Create an Account",
				"description":"Create an Account via API ",
				"requestBody":{
					"description":"Create Account Request",
					"required":"true",
					"content":{
						"application/vnd.api+json":{
							"schema":{
								"type":"object",
								"properties":{
									"data":{
										"$ref":"./schemas/createAccount.json"
									}
								}
							}
						}
					}
				},
				"responses":{
					"201":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/account.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/accounts/{accountId}":{
			"get":{
				"tags":[
					"Get Account"
				],
				"operationId":"findAccountById",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"accountId",
						"in":"path",
						"required":true,
						"description":"ID of the account to get"
					},
					{
						"name":"included",
						"in":"query",
						"schema":{
							"type":"string"
						}
					}
				],
				"summary":"Get Account by Id",
				"description":"Get an Account from API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/account.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/accounts/{accountId}/limits":{
			"get":{
				"tags":[
					"Get Account Limits"
				],
				"operationId":"getAccountLimits",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"accountId",
						"in":"path",
						"required":true,
						"description":"ID of the account to get"
					}
				],
				"summary":"Get Account Limits by Id",
				"description":"Get Account Limits from API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/types.json#/definitions/limits"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/accounts/{accountId}/unfreeze":{
			"post":{
				"tags":[
					"Unfreeze Account"
				],
				"operationId":"unfreezeAccountById",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"accountId",
						"in":"path",
						"required":true,
						"description":"ID of the account to get"
					}
				],
				"summary":"Unfreeze Account by Id",
				"description":"Unfreeze an Account via API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/account.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/accounts/{accountId}/freeze":{
			"post":{
				"tags":[
					"Freeze an Account"
				],
				"operationId":"freezeAccountById",
				"summary":"Freeze an Account by Id",
				"description":"Freeze an Account via API ",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"accountId",
						"in":"path",
						"required":true,
						"description":"ID of the account to freeze"
					}
				],
				"requestBody":{
					"description":"Freeze Account Request",
					"required":"true",
					"content":{
						"application/vnd.api+json":{
							"schema":{
								"data":{
									"type":"object",
									"properties":{
										"$ref":"./schemas/types.json#/definitions/freezeAccountRequest"
									}
								}
							}
						}
					}
				},
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/account.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/accounts/{accountId}/close":{
			"post":{
				"tags":[
					"Close an Account"
				],
				"operationId":"closeAccountById",
				"summary":"Close an Account by Id",
				"description":"Close an Account via API ",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"accountId",
						"in":"path",
						"required":true,
						"description":"ID of the account to close"
					}
				],
				"requestBody":{
					"description":"Close Account Request",
					"required":"true",
					"content":{
						"application/vnd.api+json":{
							"schema":{
								"type":"object",
								"properties":{
									"data":{
										"$ref":"./schemas/types.json#/definitions/closeAccountRequest"
									}
								}
							}
						}
					}
				},
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/account.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/accounts/{accountId}/reopen":{
			"post":{
				"tags":[
					"Reopen an Account"
				],
				"operationId":"reopenAccountById",
				"summary":"Reopen an Account by Id",
				"description":"Reopen an Account via API ",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"accountId",
						"in":"path",
						"required":true,
						"description":"ID of the account to close"
					}
				],
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/account.json#/definitions/DepositAccount"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/accounts/{accountId}/enter-daca":{
			"post":{
				"tags":[
					"Enter Control Agreement for Account"
				],
				"operationId":"enterDacaAccountById",
				"summary":"Enter Account Control Agreement by Id",
				"description":"Enter Control Agreement for Account via API ",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"accountId",
						"in":"path",
						"required":true,
						"description":"ID of the account"
					}
				],
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/account.json#/definitions/DepositAccount"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/accounts/{accountId}/activate-daca":{
			"post":{
				"tags":[
					"Activate Control Agreement for Account"
				],
				"operationId":"activateDacaAccountById",
				"summary":"Activate Account Control Agreement by Id",
				"description":"Activate Control Agreement for Account via API ",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"accountId",
						"in":"path",
						"required":true,
						"description":"ID of the account"
					}
				],
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/account.json#/definitions/DepositAccount"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/accounts/{accountId}/deactivate-daca":{
			"post":{
				"tags":[
					"Deactivate Control Agreement for Account"
				],
				"operationId":"deactivateDacaAccountById",
				"summary":"Deactivate Account Control Agreement by Id",
				"description":"Deactivate Control Agreement for Account via API",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"accountId",
						"in":"path",
						"required":true,
						"description":"ID of the account"
					}
				],
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/account.json#/definitions/DepositAccount"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/account-end-of-day":{
			"get":{
				"tags":[
					"Get list account end-of-day balances history"
				],
				"operationId":"getAccountEndOfDayList",
				"summary":"Get AccountEndOfDay List",
				"description":"Get AccountEndOfDay List from API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/accountEndOfDay.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/customers/{customerId}":{
			"get":{
				"tags":[
					"Get Customer"
				],
				"operationId":"findCustomerById",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"customerId",
						"in":"path",
						"required":true,
						"description":"ID of the customer to get"
					}
				],
				"summary":"Get Customer by Id",
				"description":"Get a Customer from API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/customer.json"
										}
									}
								}
							}
						}
					}
				}
			},
			"patch":{
				"tags":[
					"Update Customer"
				],
				"operationId":"updateCustomer",
				"summary":"Update Customer",
				"description":"Update an Customer via API ",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"customerId",
						"in":"path",
						"required":true,
						"description":"ID of the customer to update"
					}
				],
				"requestBody":{
					"description":"Update Customer Request",
					"required":"true",
					"content":{
						"application/vnd.api+json":{
							"schema":{
								"$ref":"./schemas/updateCustomer.json"
							}
						}
					}
				},
				"responses":{
					"201":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/customer.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/customers":{
			"get":{
				"tags":[
					"Get List Customers"
				],
				"operationId":"getCustomersList",
				"summary":"Get Customers List",
				"description":"Get Customers List from API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/customer.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/customers/{customerId}/archive":{
			"post":{
				"tags":[
					"Archive Customer"
				],
				"operationId":"archiveCustomerById",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"customerId",
						"in":"path",
						"required":true,
						"description":"ID of the customer to archive"
					}
				],
				"requestBody":{
					"description":"Update Payment Request",
					"required":"true",
					"content":{
						"application/vnd.api+json":{
							"schema":{
								"type":"object",
								"properties":{
									"type":{
										"type":"string",
										"enum":[
											"archiveCustomer"
										]
									},
									"attributes":{
										"type":"object",
										"properties":{
											"reason":{
												"type":"string",
												"enum":[
													"Inactive",
													"FraudACHActivity",
													"FraudCardActivity",
													"FraudCheckActivity",
													"FraudApplicationHistory",
													"FraudAccountActivity",
													"FraudClientIdentified",
													"FraudLinkedToFraudulentCustomer"
												]
											}
										}
									}
								}
							}
						}
					}
				},
				"summary":"Archive Customer by Id",
				"description":"Archive a Customer via API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/customer.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/payments/":{
			"get":{
				"tags":[
					"Get List Payments"
				],
				"operationId":"getListPayments",
				"summary":"Get List Payments",
				"description":"Get List Payments from API ",
				"parameters":[
					{
						"name":"page",
						"in":"query",
						"schema":{
							"$ref":"./schemas/types.json#/definitions/listPageParametersObject"
						}
					},
					{
						"name":"filter",
						"in":"query",
						"schema":{
							"type":"object",
							"properties":{
								"query":{
									"type":"string"
								},
								"status":{
									"type":"array",
									"items":{
										"type":"string",
										"enum":[
											"Pending",
											"Approved"
										]
									}
								},
								"email":{
									"type":"string"
								},
								"tags":{
									"type":"object"
								}
							}
						}
					}
				],
				"responses":{
					"200":{
						"description":"Successful Response",
						"title":"UnitResponse",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"properties":{
										"data":{
											"type":"array",
											"items":{
												"$ref":"./schemas/payment.json"
											}
										}
									}
								}
							}
						}
					}
				}
			},
			"post":{
				"tags":[
					"Create a Payment"
				],
				"operationId":"createPayment",
				"summary":"Create a Payment",
				"description":"Create a Payment via API ",
				"requestBody":{
					"description":"Create Payment Request",
					"required":"true",
					"content":{
						"application/vnd.api+json":{
							"schema":{
								"data":{
									"type":"object",
									"properties":{
										"$ref":"./schemas/createPayment.json"
									}
								}
							}
						}
					}
				},
				"responses":{
					"201":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/payment.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/payments/{paymentId}":{
			"get":{
				"tags":[
					"Get Payment"
				],
				"operationId":"findPaymentById",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"paymentId",
						"in":"path",
						"required":true,
						"description":"ID of the payment to get"
					},
					{
						"name":"included",
						"in":"query",
						"schema":{
							"type":"string"
						}
					}
				],
				"summary":"Get Payment by Id",
				"description":"Get a Payment from API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/payment.json"
										}
									}
								}
							}
						}
					}
				}
			},
			"patch":{
				"tags":[
					"Update Payment"
				],
				"operationId":"updatePayment",
				"summary":"Update Payment",
				"description":"Update an Payment via API ",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"paymentId",
						"in":"path",
						"required":true,
						"description":"ID of the payment to update"
					}
				],
				"requestBody":{
					"description":"Update Payment Request",
					"required":"true",
					"content":{
						"application/vnd.api+json":{
							"schema":{
								"$ref":"./schemas/types.json#/definitions/updateUnitRequest"
							}
						}
					}
				},
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/payment.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/payments/{paymentId}/cancel":{
			"post":{
				"tags":[
					"Cancel Payment"
				],
				"operationId":"cancelPaymentById",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"paymentId",
						"in":"path",
						"required":true,
						"description":"ID of the payment to cancel"
					}
				],
				"summary":"Cancel a Payment by Id",
				"description":"Cancel a Payment via API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/payment.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/received-payments":{
			"get":{
				"tags":[
					"Get Received Payments List"
				],
				"operationId":"getReceivedPayments",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"paymentId",
						"in":"path",
						"required":true,
						"description":"ID of the payment to get"
					},
					{
						"name":"included",
						"in":"query",
						"schema":{
							"type":"string"
						}
					}
				],
				"summary":"Get Received Payments List",
				"description":"Get Received Payments from API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/payment.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/received-payments/{paymentId}":{
			"get":{
				"tags":[
					"Get Received Payment"
				],
				"operationId":"findReceivedPaymentById",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"paymentId",
						"in":"path",
						"required":true,
						"description":"ID of the payment to get"
					},
					{
						"name":"included",
						"in":"query",
						"schema":{
							"type":"string"
						}
					}
				],
				"summary":"Get Received Payment by Id",
				"description":"Get a Received Payment from API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/receivedPayment.json"
										}
									}
								}
							}
						}
					}
				}
			},
			"patch":{
				"tags":[
					"Update Received Payment"
				],
				"operationId":"updateReceivedPayment",
				"summary":"Update Received Payment",
				"description":"Update a Received Payment via API ",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"paymentId",
						"in":"path",
						"required":true,
						"description":"ID of the payment to update"
					}
				],
				"requestBody":{
					"description":"Update Received Payment Request",
					"required":"true",
					"parameters":[
						{
							"schema":{
								"type":"string"
							},
							"name":"receivedPaymentId",
							"in":"path",
							"required":true,
							"description":"ID of the received payment to update"
						}
					],
					"content":{
						"application/vnd.api+json":{
							"schema":{
								"$ref":"./schemas/types.json#/definitions/updateUnitRequest"
							}
						}
					}
				},
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/receivedPayment.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/received-payments/{paymentId}/advance":{
			"post":{
				"tags":[
					"Advance Received Payment"
				],
				"operationId":"advanceReceivedPaymentById",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"paymentId",
						"in":"path",
						"required":true,
						"description":"ID of the payment to advance"
					}
				],
				"summary":"Advance Received Payment by Id",
				"description":"Advance a Received Payment via API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/receivedPayment.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/counterparties/":{
			"get":{
				"tags":[
					"Get List Counterparties"
				],
				"operationId":"getCounterpartiesList",
				"summary":"Get Counterparties List",
				"description":"Get Counterparties List from API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/counterparty.json"
										}
									}
								}
							}
						}
					}
				}
			},
			"post":{
				"tags":[
					"Create Counterparty"
				],
				"operationId":" createCounterparty",
				"summary":"Create Counterparty",
				"description":"Create a counterparty via API ",
				"requestBody":{
					"description":"Create Counterparty Request",
					"required":"true",
					"content":{
						"application/vnd.api+json":{
							"schema":{
								"type":"object",
								"properties":{
									"data":{
										"$ref":"./schemas/createCounterparty.json"
									}
								}
							}
						}
					}
				},
				"responses":{
					"201":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/counterparty.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/counterparties/{counterpartyId}":{
			"get":{
				"tags":[
					"Get Counterparty"
				],
				"operationId":"findCounterpartyById",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"counterpartyId",
						"in":"path",
						"required":true,
						"description":"ID of the counterparty to get"
					},
					{
						"name":"included",
						"in":"query",
						"schema":{
							"type":"string"
						}
					}
				],
				"summary":"Get Counterparty by Id",
				"description":"Get a Counterparty from API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/counterparty.json"
										}
									}
								}
							}
						}
					}
				}
			},
			"patch":{
				"tags":[
					"Update Counterparty"
				],
				"operationId":"updateCounterparty",
				"summary":"Update Counterparty",
				"description":"Update a Counterparty via API ",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"counterpartyId",
						"in":"path",
						"required":true,
						"description":"ID of the counterparty to update"
					}
				],
				"requestBody":{
					"description":"Update Counterparty Request",
					"required":"true",
					"content":{
						"application/vnd.api+json":{
							"schema":{
								"$ref":"./schemas/types.json#/definitions/updateUnitRequest"
							}
						}
					}
				},
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/counterparty.json"
										}
									}
								}
							}
						}
					}
				}
			},
			"delete":{
				"tags":[
					"Delete Counterparty"
				],
				"operationId":"deleteCounterparty",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"counterpartyId",
						"in":"path",
						"required":true,
						"description":"ID of the counterparty to delete"
					}
				],
				"summary":"Delete Counterparty by Id",
				"description":"Delete Counterparty via API ",
				"responses":{
					"204":{
						"description":"Successful Response"
					}
				}
			}
		},
		"/counterparties/{counterpartyId}/balance":{
			"get":{
				"tags":[
					"Get Counterparty Balance"
				],
				"operationId":"getCounterpartyBalance",
				"summary":"Get Counterparty Balance",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"counterpartyId",
						"in":"path",
						"required":true,
						"description":"ID of the counterparty to get"
					}
				],
				"description":"Get Recurring Payment from API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/counterpartyBalance.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/recurring-payments":{
			"get":{
				"tags":[
					"Get List Recurring Payments"
				],
				"operationId":"getRecurringPaymentsList",
				"summary":"Get Recurring Payments List",
				"description":"Get Recurring Payments List from API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/recurringPayment.json"
										}
									}
								}
							}
						}
					}
				}
			},
			"post":{
				"tags":[
					"Create Recurring Payment"
				],
				"operationId":" createRecurringPayment",
				"summary":"Create Recurring Payment",
				"description":"Create a Recurring Payment via API ",
				"requestBody":{
					"description":"Create Recurring Payment Request",
					"required":"true",
					"content":{
						"application/vnd.api+json":{
							"schema":{
								"type":"object",
								"properties":{
									"data":{
										"$ref":"./schemas/createRecurringPayment.json"
									}
								}
							}
						}
					}
				},
				"responses":{
					"201":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/recurringPayment.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/recurring-payments/{paymentId}":{
			"get":{
				"tags":[
					"Get Recurring Payment"
				],
				"operationId":"getRecurringPayment",
				"summary":"Get Recurring Payment",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"paymentId",
						"in":"path",
						"required":true,
						"description":"ID of the payment to get"
					}
				],
				"description":"Get Recurring Payment from API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/recurringPayment.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/recurring-payments/{paymentId}/disable":{
			"post":{
				"tags":[
					"Disable Recurring Payment"
				],
				"operationId":"disableRecurringPayment",
				"summary":"Disable Recurring Payment",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"paymentId",
						"in":"path",
						"required":true,
						"description":"ID of the payment to disable"
					}
				],
				"description":"Disable Recurring Payment via API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/recurringPayment.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/recurring-payments/{paymentId}/enable":{
			"post":{
				"tags":[
					"Enable Recurring Payment"
				],
				"operationId":"enableRecurringPayment",
				"summary":"Enable Recurring Payment",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"paymentId",
						"in":"path",
						"required":true,
						"description":"ID of the payment to enable"
					}
				],
				"description":"Enable Recurring Payment via API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/recurringPayment.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/cards/":{
			"get":{
				"tags":[
					"Get List of Cards"
				],
				"operationId":"getListCards",
				"summary":"Get List of Cards",
				"description":"Get List of Cards from API ",
				"parameters":[
					{
						"name":"page",
						"in":"query",
						"schema":{
							"$ref":"./schemas/types.json#/definitions/listPageParametersObject"
						}
					},
					{
						"name":"filter",
						"in":"query",
						"schema":{
							"type":"object",
							"properties":{
								"query":{
									"type":"string"
								},
								"status":{
									"type":"array",
									"items":{
										"type":"string",
										"enum":[
											"Pending",
											"Approved"
										]
									}
								},
								"email":{
									"type":"string"
								},
								"tags":{
									"type":"object"
								}
							}
						}
					}
				],
				"responses":{
					"200":{
						"description":"Successful Response",
						"title":"UnitResponse",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"data":{
										"type":"object",
										"properties":{
											"type":"array",
											"items":{
												"$ref":"./schemas/card.json"
											}
										}
									}
								}
							}
						}
					}
				}
			},
			"post":{
				"tags":[
					"Create a Card"
				],
				"operationId":"createCard",
				"summary":"Create a Card",
				"description":"Create a Card via API ",
				"requestBody":{
					"description":"Create Card Request",
					"required":"true",
					"content":{
						"application/vnd.api+json":{
							"schema":{
								"data":{
									"type":"object",
									"properties":{
										"$ref":"./schemas/createCard.json"
									}
								}
							}
						}
					}
				},
				"responses":{
					"201":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/card.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/cards/{cardId}":{
			"get":{
				"tags":[
					"Get Card"
				],
				"operationId":"findCardById",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"cardId",
						"in":"path",
						"required":true,
						"description":"ID of the card to get"
					},
					{
						"name":"included",
						"in":"query",
						"schema":{
							"type":"string"
						}
					}
				],
				"summary":"Get Card by Id",
				"description":"Get a Card from API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/card.json"
										}
									}
								}
							}
						}
					}
				}
			},
			"patch":{
				"tags":[
					"Update Card"
				],
				"operationId":"updateCard",
				"summary":"Update Card",
				"description":"Update a Card via API ",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"cardId",
						"in":"path",
						"required":true,
						"description":"ID of the card to update"
					}
				],
				"requestBody":{
					"description":"Update Card Request",
					"required":"true",
					"content":{
						"application/vnd.api+json":{
							"schema":{
								"$ref":"./schemas/types.json#/definitions/updateUnitRequest"
							}
						}
					}
				},
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/card.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/cards/{cardId}/secure-data/pin/status":{
			"post":{
				"tags":[
					"Create a Card"
				],
				"operationId":"createCard",
				"summary":"Create a Card",
				"description":"Create a Card via API ",
				"requestBody":{
					"description":"Create Card Request",
					"required":"true",
					"content":{
						"application/vnd.api+json":{
							"schema":{
								"data":{
									"type":"object",
									"properties":{
										"$ref":"./schemas/createCard.json"
									}
								}
							}
						}
					}
				},
				"responses":{
					"201":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/card.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/cards/{cardId}/report-stolen":{
			"post":{
				"tags":[
					"Report Card as Stolen"
				],
				"operationId":"reportStolenCard",
				"summary":"Report card as stolen",
				"description":"Report card as stolen via API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/card.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/cards/{cardId}/report-lost":{
			"post":{
				"tags":[
					"Report Card as Lost"
				],
				"operationId":"reportLostCard",
				"summary":"Report lost as stolen",
				"description":"Report lost as stolen via API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/card.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/cards/{cardId}/close":{
			"post":{
				"tags":[
					"Close a Card"
				],
				"operationId":"closeCard",
				"summary":"Close a Card",
				"description":"Close a Card via API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/card.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/cards/{cardId}/freeze":{
			"post":{
				"tags":[
					"Freeze a Card"
				],
				"operationId":"freezeCard",
				"summary":"Freeze a Card",
				"description":"Freeze a Card via API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/card.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/cards/{cardId}/unfreeze":{
			"post":{
				"tags":[
					"Unfreeze a Card"
				],
				"operationId":"unfreezeCard",
				"summary":"Unfreeze a Card",
				"description":"Unfreeze a Card via API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/card.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/cards/{cardId}/limits":{
			"get":{
				"tags":[
					"Get Card Limits"
				],
				"operationId":"getCardLimitsById",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"cardId",
						"in":"path",
						"required":true,
						"description":"ID of the card to get"
					}
				],
				"summary":"Get Card by Id",
				"description":"Get a Card from API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/limits.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/authorizations/":{
			"get":{
				"tags":[
					"Get List Authorizations"
				],
				"operationId":"find list authorizations",
				"summary":"Get List authorizations",
				"description":"Get List Authorizations from API ",
				"parameters":[
					{
						"name":"page",
						"in":"query",
						"schema":{
							"$ref":"./schemas/types.json#/definitions/listPageParametersObject"
						}
					},
					{
						"name":"filter",
						"in":"query",
						"schema":{
							"type":"object",
							"properties":{
								"query":{
									"type":"string"
								},
								"status":{
									"type":"array",
									"items":{
										"type":"string",
										"enum":[
											"Pending",
											"Approved"
										]
									}
								},
								"email":{
									"type":"string"
								},
								"tags":{
									"type":"object"
								}
							}
						}
					},
					{
						"name":"sort",
						"in":"query",
						"schema":{
							"type":"string",
							"enum":[
								"createdAt",
								"-createdAt"
							],
							"default":"-createdAt"
						}
					}
				],
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"array",
									"items":{
										"$ref":"./schemas/authorization.json"
									}
								}
							}
						}
					}
				}
			}
		},
		"/authorizations/{authorizationId}":{
			"get":{
				"tags":[
					"Get Authorization"
				],
				"operationId":"findAuthorizationId",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"authorizationId",
						"in":"path",
						"required":true,
						"description":"ID of the authorization to get"
					},
					{
						"name":"includeNoneAuthorized",
						"in":"query",
						"schema":{
							"type":"boolean"
						}
					}
				],
				"summary":"Get Authorization by Id",
				"description":"Get a Authorization from API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/authorization.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/authorization-requests/":{
			"get":{
				"tags":[
					"Get List Authorization Requests"
				],
				"operationId":"find list authorization requests",
				"summary":"Get List Authorization Requests",
				"description":"Get List Authorization Requests from API ",
				"parameters":[
					{
						"name":"page",
						"in":"query",
						"schema":{
							"$ref":"./schemas/types.json#/definitions/listPageParametersObject"
						}
					},
					{
						"name":"filter",
						"in":"query",
						"schema":{
							"type":"object",
							"properties":{
								"query":{
									"type":"string"
								},
								"status":{
									"type":"array",
									"items":{
										"type":"string",
										"enum":[
											"Pending",
											"Approved"
										]
									}
								},
								"email":{
									"type":"string"
								},
								"tags":{
									"type":"object"
								}
							}
						}
					},
					{
						"name":"sort",
						"in":"query",
						"schema":{
							"type":"string",
							"enum":[
								"createdAt",
								"-createdAt"
							],
							"default":"-createdAt"
						}
					}
				],
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"array",
									"items":{
										"$ref":"./schemas/authorizationRequest.json"
									}
								}
							}
						}
					}
				}
			}
		},
		"/authorization-requests/{authorizationId}":{
			"get":{
				"tags":[
					"Get Authorization Request"
				],
				"operationId":"findAuthorizationRequestById",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"authorizationId",
						"in":"path",
						"required":true,
						"description":"ID of the authorization request to get"
					}
				],
				"summary":"Get Authorization Request by Id",
				"description":"Get a Authorization Request from API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/authorizationRequest.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/authorization-requests/{authorizationId}/approve":{
			"post":{
				"tags":[
					"Approve Authorization Request"
				],
				"operationId":"approveAuthorizationRequestById",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"authorizationId",
						"in":"path",
						"required":true,
						"description":"ID of the authorization request to approve"
					}
				],
				"summary":"Approve Authorization Request by Id",
				"description":"Approve a Authorization Request via API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/authorizationRequest.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/authorization-requests/{authorizationId}/decline":{
			"post":{
				"tags":[
					"Get Authorization Request"
				],
				"operationId":"findAuthorizationRequestById",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"authorizationId",
						"in":"path",
						"required":true,
						"description":"ID of the authorization request to get"
					}
				],
				"summary":"Get Authorization Request by Id",
				"description":"Get a Authorization Request from API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/authorizationRequest.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/statements/":{
			"get":{
				"tags":[
					"Get List Statements"
				],
				"operationId":"find list statements",
				"summary":"Get List Statements",
				"description":"Get List Statements from API ",
				"parameters":[
					{
						"name":"page",
						"in":"query",
						"schema":{
							"$ref":"./schemas/types.json#/definitions/listPageParametersObject"
						}
					},
					{
						"name":"filter",
						"in":"query",
						"schema":{
							"type":"object",
							"properties":{
								"query":{
									"type":"string"
								},
								"status":{
									"type":"array",
									"items":{
										"type":"string",
										"enum":[
											"Pending",
											"Approved"
										]
									}
								},
								"email":{
									"type":"string"
								},
								"tags":{
									"type":"object"
								}
							}
						}
					},
					{
						"name":"sort",
						"in":"query",
						"schema":{
							"type":"string",
							"enum":[
								"createdAt",
								"-createdAt"
							],
							"default":"-createdAt"
						}
					}
				],
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"array",
									"items":{
										"type":"object"
									}
								}
							}
						}
					}
				}
			}
		},
		"/statements/{statementId}/html":{
			"get":{
				"tags":[
					"Get Statement"
				],
				"operationId":"findHtmlStatementById",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"statementId",
						"in":"path",
						"required":true,
						"description":"ID of the statement to get"
					}
				],
				"summary":"Get HTML Statement by Id",
				"description":"Get a HTML Statement from API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"type":"string"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/statements/{statementId}/pdf":{
			"get":{
				"tags":[
					"Get Statement"
				],
				"operationId":"findPdfStatementById",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"statementId",
						"in":"path",
						"required":true,
						"description":"ID of the statement to get"
					}
				],
				"summary":"Get PDF Statement by Id",
				"description":"Get a PDF Statement from API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"type":"string"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/statements/{accountId}/bank/pdf":{
			"get":{
				"tags":[
					"Get Bank verification PDF"
				],
				"operationId":"getBankVerificationPdf",
				"summary":"Get Bank verification PDF",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"accountId",
						"in":"path",
						"required":true,
						"description":"ID of the account to get"
					}
				],
				"description":"Get Get Bank verification PDF from API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"type":"string"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/rewards":{
			"post":{
				"tags":[
					"Create Reward"
				],
				"operationId":" createReward",
				"summary":"Create Reward",
				"description":"Create a Reward via API ",
				"requestBody":{
					"description":"Create Reward Request",
					"required":"true",
					"content":{
						"application/vnd.api+json":{
							"schema":{
								"type":"object",
								"properties":{
									"data":{
										"$ref":"./schemas/createReward.json"
									}
								}
							}
						}
					}
				},
				"responses":{
					"201":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/reward.json"
										}
									}
								}
							}
						}
					}
				}
			},
			"get":{
				"tags":[
					"Get List Rewards"
				],
				"operationId":"getRewardsList",
				"summary":"Get Rewards List",
				"description":"Get Rewards List from API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/reward.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/rewards/{rewardId}":{
			"get":{
				"tags":[
					"Get Reward"
				],
				"operationId":"findRewardById",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"rewardId",
						"in":"path",
						"required":true,
						"description":"ID of the reward to get"
					}
				],
				"summary":"Get Reward by Id",
				"description":"Get a Reward from API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/reward.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/events":{
			"get":{
				"tags":[
					"Get List Events"
				],
				"operationId":"getEventsList",
				"summary":"Get Events List",
				"description":"Get Events List from API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/event.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/events/{eventId}":{
			"get":{
				"tags":[
					"Get Event"
				],
				"operationId":"findEventById",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"eventId",
						"in":"path",
						"required":true,
						"description":"ID of the event to get"
					}
				],
				"summary":"Get Event by Id",
				"description":"Get an Event from API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/event.json"
										}
									}
								}
							}
						}
					}
				}
			},
			"post":{
				"tags":[
					"Fire Event"
				],
				"operationId":"fireEventById",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"eventId",
						"in":"path",
						"required":true,
						"description":"ID of the event to fire"
					}
				],
				"summary":"Fire Event by Id",
				"description":"Fire an Event via API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/event.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/institutions/{routingNumber}/":{
			"get":{
				"tags":[
					"Get Institution"
				],
				"operationId":"findInstitutionByRoutingNumber",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"routingNumber",
						"in":"path",
						"required":true,
						"description":"routingNumber of the institution to get"
					}
				],
				"summary":"Get Institution by Routing Number",
				"description":"Get an Institution from API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/institution.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/fees/":{
			"post":{
				"tags":[
					"Create Fee"
				],
				"operationId":" createFee",
				"summary":"Create Fee",
				"description":"Create a Fee via API ",
				"requestBody":{
					"description":"Create Fee Request",
					"required":"true",
					"content":{
						"application/vnd.api+json":{
							"schema":{
								"type":"object",
								"properties":{
									"data":{
										"$ref":"./schemas/createFee.json"
									}
								}
							}
						}
					}
				},
				"responses":{
					"201":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/fee.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/check-deposits/":{
			"get":{
				"tags":[
					"Get List Check Deposits"
				],
				"operationId":"find list check deposits",
				"summary":"Get List Check Deposits",
				"description":"Get List Check Deposits from API ",
				"parameters":[
					{
						"name":"page",
						"in":"query",
						"schema":{
							"$ref":"./schemas/types.json#/definitions/listPageParametersObject"
						}
					},
					{
						"name":"filter",
						"in":"query",
						"schema":{
							"type":"object",
							"properties":{
								"query":{
									"type":"string"
								},
								"status":{
									"type":"array",
									"items":{
										"type":"string",
										"enum":[
											"Pending",
											"Approved"
										]
									}
								},
								"email":{
									"type":"string"
								},
								"tags":{
									"type":"object"
								}
							}
						}
					},
					{
						"name":"sort",
						"in":"query",
						"schema":{
							"type":"string",
							"enum":[
								"createdAt",
								"-createdAt"
							],
							"default":"-createdAt"
						}
					}
				],
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"array",
									"items":{
										"$ref":"./schemas/checkDeposit.json"
									}
								}
							}
						}
					}
				}
			},
			"post":{
				"tags":[
					"Create Check Deposit"
				],
				"operationId":" createCheckDeposit",
				"summary":"Create Check Deposit",
				"description":"Create a Check Deposit via API ",
				"requestBody":{
					"description":"Create Check Deposit Request",
					"required":"true",
					"content":{
						"application/vnd.api+json":{
							"schema":{
								"type":"object",
								"properties":{
									"data":{
										"$ref":"./schemas/createCheckDeposit.json"
									}
								}
							}
						}
					}
				},
				"responses":{
					"201":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/checkDeposit.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/check-deposits/{checkDepositId}":{
			"get":{
				"tags":[
					"Get Check Deposit"
				],
				"operationId":"findCheckDepositById",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"checkDepositId",
						"in":"path",
						"required":true,
						"description":"ID of the check deposit to get"
					}
				],
				"summary":"Get Check Deposit by Id",
				"description":"Get a Check Deposit from API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/checkDeposit.json"
										}
									}
								}
							}
						}
					}
				}
			},
			"patch":{
				"tags":[
					"Update Check Deposit"
				],
				"operationId":"updateCheckDeposit",
				"summary":"Update Check Deposit",
				"description":"Update a Check Deposit via API ",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"checkDepositId",
						"in":"path",
						"required":true,
						"description":"ID of the check deposit to update"
					}
				],
				"requestBody":{
					"description":"Update Check Deposit Request",
					"required":"true",
					"content":{
						"application/vnd.api+json":{
							"schema":{
								"$ref":"./schemas/types.json#/definitions/updateUnitRequest"
							}
						}
					}
				},
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/checkDeposit.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/check-deposits/{checkDepositId}/confirm":{
			"post":{
				"tags":[
					"Confirm Check Deposit"
				],
				"operationId":"confirmCheckDeposit",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"checkDepositId",
						"in":"path",
						"required":true,
						"description":"ID of the check deposit to confirm"
					}
				],
				"summary":"Confirm by Id",
				"description":"Confirm a Check Deposit from API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/checkDeposit.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/check-deposits/{checkDepositId}/front":{
			"get":{
				"tags":[
					"Get Check Deposit Front Image"
				],
				"operationId":"getFrontCheckDepositImageById",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"checkDepositId",
						"in":"path",
						"required":true,
						"description":"ID of the check deposit to get"
					}
				],
				"summary":"Get Front Check Deposit Image by Id",
				"description":"Get Front Check Deposit Image from API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"type":"string"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/check-deposits/{checkDepositId}/back":{
			"get":{
				"tags":[
					"Get Check Deposit Back Image"
				],
				"operationId":"getBackCheckDepositImageById",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"checkDepositId",
						"in":"path",
						"required":true,
						"description":"ID of the check deposit to get"
					}
				],
				"summary":"Get Back Check Deposit Image by Id",
				"description":"Get Back Check Deposit Image from API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"type":"string"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/users/{userId}/api-tokens":{
			"post":{
				"tags":[
					"Create Org Api Token"
				],
				"operationId":" createOrgApiToken",
				"summary":"Create Org API Token",
				"description":"Create an Org API Token via API ",
				"requestBody":{
					"description":"Create Org API Token Request",
					"required":"true",
					"content":{
						"application/vnd.api+json":{
							"schema":{
								"type":"object",
								"properties":{
									"data":{
										"$ref":"./schemas/createApiToken.json"
									}
								}
							}
						}
					}
				},
				"responses":{
					"201":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/apiToken.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/users/":{
			"get":{
				"tags":[
					"Get List Org API Tokens"
				],
				"operationId":"find list org api tokens",
				"summary":"Get List Org API Tokens",
				"description":"Get List Org API Tokens from API ",
				"parameters":[
					{
						"name":"page",
						"in":"query",
						"schema":{
							"$ref":"./schemas/types.json#/definitions/listPageParametersObject"
						}
					},
					{
						"name":"filter",
						"in":"query",
						"schema":{
							"type":"object",
							"properties":{
								"query":{
									"type":"string"
								},
								"status":{
									"type":"array",
									"items":{
										"type":"string",
										"enum":[
											"Pending",
											"Approved"
										]
									}
								},
								"email":{
									"type":"string"
								},
								"tags":{
									"type":"object"
								}
							}
						}
					},
					{
						"name":"sort",
						"in":"query",
						"schema":{
							"type":"string",
							"enum":[
								"createdAt",
								"-createdAt"
							],
							"default":"-createdAt"
						}
					}
				],
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"array",
									"items":{
										"$ref":"./schemas/apiToken.json"
									}
								}
							}
						}
					}
				}
			}
		},
		"/users/{userId}/api-tokens/{tokenId}":{
			"delete":{
				"tags":[
					"Revoke Org API Token"
				],
				"operationId":"revokeOrgApiToken",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"userId",
						"in":"path",
						"required":true,
						"description":"ID of the user to revoke token"
					},
					{
						"schema":{
							"type":"string"
						},
						"name":"tokenId",
						"in":"path",
						"required":true,
						"description":"ID of the token to revoke"
					}
				],
				"summary":"Get Reward by Id",
				"description":"Get a Reward from API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/apiToken.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/customers/{customerId}/token":{
			"post":{
				"tags":[
					"Create Customer Token"
				],
				"operationId":"createCustomerToken",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"customerId",
						"in":"path",
						"required":true,
						"description":"ID of the customer to create token for"
					}
				],
				"summary":"Create Customer Token",
				"description":"Create a Customer Token via API ",
				"requestBody":{
					"description":"Create Customer Token Request",
					"required":"true",
					"content":{
						"application/vnd.api+json":{
							"schema":{
								"data":{
									"type":"object",
									"properties":{
										"$ref":"./schemas/craeteCustomerToken.json"
									}
								}
							}
						}
					}
				},
				"responses":{
					"201":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/‏‏customerTokenVerification.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/customers/{customerId}/token/verification":{
			"post":{
				"tags":[
					"Create Customer Token Verification"
				],
				"operationId":"createCustomerTokenVerification",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"customerId",
						"in":"path",
						"required":true,
						"description":"ID of the customer to create token for"
					}
				],
				"summary":"Create Customer Token Verification",
				"description":"Create a Customer Token Verification via API ",
				"requestBody":{
					"description":"Create Customer Token Verification Request",
					"required":"true",
					"content":{
						"application/vnd.api+json":{
							"schema":{
								"data":{
									"type":"object",
									"properties":{
										"$ref":"./schemas/createCustomerTokenVerification.json"
									}
								}
							}
						}
					}
				},
				"responses":{
					"201":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/createCustomerTokenVerification.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/webhooks/":{
			"get":{
				"tags":[
					"Get List Webhooks"
				],
				"operationId":"find list of Webhooks",
				"summary":"Get List Webhooks",
				"description":"Get List Webhooks from API ",
				"parameters":[
					{
						"name":"page",
						"in":"query",
						"schema":{
							"$ref":"./schemas/types.json#/definitions/listPageParametersObject"
						}
					},
					{
						"name":"filter",
						"in":"query",
						"schema":{
							"type":"object",
							"properties":{
								"query":{
									"type":"string"
								},
								"status":{
									"type":"array",
									"items":{
										"type":"string",
										"enum":[
											"Pending",
											"Approved"
										]
									}
								},
								"email":{
									"type":"string"
								},
								"tags":{
									"type":"object"
								}
							}
						}
					},
					{
						"name":"sort",
						"in":"query",
						"schema":{
							"type":"string",
							"enum":[
								"createdAt",
								"-createdAt"
							],
							"default":"-createdAt"
						}
					}
				],
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"array",
									"items":{
										"$ref":"./schemas/webhook.json"
									}
								}
							}
						}
					}
				}
			},
			"post":{
				"tags":[
					"Create Webhook"
				],
				"operationId":" createWebhook",
				"summary":"Create Webhook",
				"description":"Create a Webhook via API ",
				"requestBody":{
					"description":"Create Webhook Request",
					"required":"true",
					"content":{
						"application/vnd.api+json":{
							"schema":{
								"type":"object",
								"properties":{
									"data":{
										"$ref":"./schemas/webhook.json"
									}
								}
							}
						}
					}
				},
				"responses":{
					"201":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"type":"object"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/webhooks/{webhookId}":{
			"get":{
				"tags":[
					"Get Webhook"
				],
				"operationId":"findWebhookById",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"webhookId",
						"in":"path",
						"required":true,
						"description":"ID of the webhook to get"
					}
				],
				"summary":"Get Webhook Id",
				"description":"Get a Webhook from API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/webhook.json"
										}
									}
								}
							}
						}
					}
				}
			},
			"patch":{
				"tags":[
					"Update Webhook"
				],
				"operationId":"updateWebhook",
				"summary":"Update Webhook",
				"description":"Update a Webhook via API ",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"webhookId",
						"in":"path",
						"required":true,
						"description":"ID of the Webhook to update"
					}
				],
				"requestBody":{
					"description":"Update Webhook Request",
					"required":"true",
					"content":{
						"application/vnd.api+json":{
							"schema":{
								"$ref":"./schemas/types.json#/definitions/updateUnitRequest"
							}
						}
					}
				},
				"responses":{
					"201":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/webhook.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/webhooks/{webhookId}/enable":{
			"post":{
				"tags":[
					"Enable Webhook"
				],
				"operationId":"enableWebhook",
				"summary":"Enable Webhook",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"webhookId",
						"in":"path",
						"required":true,
						"description":"ID of the webhook to enable"
					}
				],
				"description":"Enable a Webhook via API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/webhook.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/webhooks/{webhookId}/disable":{
			"post":{
				"tags":[
					"Disable Webhook"
				],
				"operationId":"disableWebhook",
				"summary":"Disable a Webhook",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"webhookId",
						"in":"path",
						"required":true,
						"description":"ID of the webhook to disable"
					}
				],
				"description":"Disable a Webhook via API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/webhook.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/atm-locations/":{
			"get":{
				"tags":[
					"Get ATM Locations List"
				],
				"operationId":"find list of ATM Locations",
				"summary":"Get List ATM Locations",
				"description":"Get List ATM Locations from API ",
				"parameters":[
					{
						"name":"page",
						"in":"query",
						"schema":{
							"$ref":"./schemas/types.json#/definitions/listPageParametersObject"
						}
					},
					{
						"name":"filter",
						"in":"query",
						"schema":{
							"type":"object",
							"properties":{
								"query":{
									"type":"string"
								},
								"status":{
									"type":"array",
									"items":{
										"type":"string",
										"enum":[
											"Pending",
											"Approved"
										]
									}
								},
								"email":{
									"type":"string"
								},
								"tags":{
									"type":"object"
								}
							}
						}
					},
					{
						"name":"sort",
						"in":"query",
						"schema":{
							"type":"string",
							"enum":[
								"createdAt",
								"-createdAt"
							],
							"default":"-createdAt"
						}
					}
				],
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"array",
									"items":{
										"type":"object"
									}
								}
							}
						}
					}
				}
			}
		},
		"/accounts/{accountId}/transactions/{transactionId}/":{
			"get":{
				"tags":[
					"Get Transaction"
				],
				"operationId":"findTransactionId",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"accountId",
						"in":"path",
						"required":true,
						"description":"ID of the account to get transaction from"
					},
					{
						"schema":{
							"type":"string"
						},
						"name":"transactionId",
						"in":"path",
						"required":true,
						"description":"ID of the transaction"
					}
				],
				"summary":"Get Transaction by Id",
				"description":"Get a Transaction from API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/transaction.json"
										}
									}
								}
							}
						}
					}
				}
			},
			"patch":{
				"tags":[
					"Update Transaction"
				],
				"operationId":"updateTransaction",
				"summary":"Update Transaction",
				"description":"Update a Transaction via API ",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"accountId",
						"in":"path",
						"required":true,
						"description":"ID of the account to update transaction from"
					},
					{
						"schema":{
							"type":"string"
						},
						"name":"transactionId",
						"in":"path",
						"required":true,
						"description":"ID of the transaction to update"
					}
				],
				"requestBody":{
					"description":"Update Transaction Request",
					"required":"true",
					"content":{
						"application/vnd.api+json":{
							"schema":{
								"$ref":"./schemas/types.json#/definitions/updateUnitRequest"
							}
						}
					}
				},
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/transaction.json"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/transactions":{
			"get":{
				"tags":[
					"Get List Transactions"
				],
				"operationId":"find list transactions",
				"summary":"Get List Transactions",
				"description":"Get List Transactions from API ",
				"parameters":[
					{
						"name":"page",
						"in":"query",
						"schema":{
							"$ref":"./schemas/types.json#/definitions/listPageParametersObject"
						}
					},
					{
						"name":"filter",
						"in":"query",
						"schema":{
							"type":"object",
							"properties":{
								"query":{
									"type":"string"
								},
								"status":{
									"type":"array",
									"items":{
										"type":"string",
										"enum":[
											"Pending",
											"Approved"
										]
									}
								},
								"email":{
									"type":"string"
								},
								"tags":{
									"type":"object"
								}
							}
						}
					},
					{
						"name":"sort",
						"in":"query",
						"schema":{
							"type":"string",
							"enum":[
								"createdAt",
								"-createdAt"
							],
							"default":"-createdAt"
						}
					}
				],
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"array",
									"items":{
										"$ref":"./schemas/transaction.json"
									}
								}
							}
						}
					}
				}
			}
		},
		"/disputes/":{
			"get":{
				"tags":[
					"Get List Disputes"
				],
				"operationId":"find list disputes",
				"summary":"Get List Disputes",
				"description":"Get List Disputes from API ",
				"parameters":[
					{
						"name":"page",
						"in":"query",
						"schema":{
							"$ref":"./schemas/types.json#/definitions/listPageParametersObject"
						}
					},
					{
						"name":"filter",
						"in":"query",
						"schema":{
							"type":"object",
							"properties":{
								"query":{
									"type":"string"
								},
								"status":{
									"type":"array",
									"items":{
										"type":"string",
										"enum":[
											"Pending",
											"Approved"
										]
									}
								},
								"email":{
									"type":"string"
								},
								"tags":{
									"type":"object"
								}
							}
						}
					},
					{
						"name":"sort",
						"in":"query",
						"schema":{
							"type":"string",
							"enum":[
								"createdAt",
								"-createdAt"
							],
							"default":"-createdAt"
						}
					}
				],
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"array",
									"items":{
										"$ref":"./schemas/dispute.json"
									}
								}
							}
						}
					}
				}
			}
		},
		"/disputes/{disputeId}/":{
			"get":{
				"tags":[
					"Get Dispute"
				],
				"operationId":"findDisputeById",
				"parameters":[
					{
						"schema":{
							"type":"string"
						},
						"name":"disputeId",
						"in":"path",
						"required":true,
						"description":"ID of the dispute to get"
					}
				],
				"summary":"Get Dispute by Id",
				"description":"Get a Dispute from API ",
				"responses":{
					"200":{
						"description":"Successful Response",
						"content":{
							"application/vnd.api+json; charset=utf-8":{
								"schema":{
									"type":"object",
									"title":"UnitResponse",
									"properties":{
										"data":{
											"$ref":"./schemas/dispute.json"
										}
									}
								}
							}
						}
					}
				}
			}
		}
	},
	"components":{
		"securitySchemes":{
			"bearerAuth":{
				"type":"apiKey",
				"in":"header",
				"name":"Authorization"
			}
		}
	},
	"security":[
		{
			"bearerAuth":[

			]
		}
	]
}